bazel-*
.vscode

.vs
INSTALL
Makefile
aclocal.m4
autom4te.cache
autoscan.log
build
build64
compile
config.guess
config.log
config.lt
config.status
config.sub
configure.scan
cross-android-gles1
cross-android-gles2
cross-woe
debugfiles.list
debugsources.list
depcomp
freeglut-*.tar.gz
include/GL/Makefile
include/Makefile
libtool
man-pages
missing
native
native-gles1
native-gles2
.deps
.libs
*.exe
*.la
*.lo
stamp-h1
*.tar
*.tar.gz
*.tar.bz2
*.zip
*.o
*.a
*~
*.swp
cross-android
cross-woe
native
*.exe
*.dll
*.a
